@import '../../../../node_modules/bulma/sass/base/_all.sass';
@import '../../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../../node_modules/bulma/sass/layout/hero.sass';
@import '../../../../node_modules/bulma/sass/elements/table.sass';
@import '../../../../node_modules/bulma/sass/elements/button.sass';
@import '../../../../node_modules/bulma/sass/form/_all.sass';

.hero {
  p {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

#content-wrapper {
  padding-top: 20px;
}

#data-fragment {
  padding-left: 30px;
  padding-right: 30px;
}

#add-button {
  margin-top: 20px;
  position: relative;
  left: 50px;
}

#form-name-wrapper {
  margin-top: 20px;
}

#form-date-wrapper {
  margin-top: 20px;
}
