@import '../../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../../node_modules/bulma/sass/form/_all.sass';
@import '../../../../node_modules/bulma/sass/components/_all.sass';
@import '../../../../node_modules/bulma/sass/elements/button.sass';

@import '../../../assets/scss/colors';

.modal-content {
  background-color: $white-dark;
  padding: 20px;
}

#submit-button-wrapper {
  text-align: center;
}
