@import '../../../../node_modules/bulma/sass/base/_all.sass';
@import '../../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../../node_modules/bulma/sass/elements/table.sass';

@import '../../../assets/scss/colors';



#data-table {
  thead {
    background-color: $grey;

    th {
      color: $white;
    }
  }
}
